#api_controls {
	position: absolute;
	top: 0px;
	left: 0px;
    margin-left: 20px;
    margin-top: 20px;	
}
/*
.api_controls_cont:hover .childs {
	display: block;
}
*/
.childs {
    position: absolute;
	display: none;
    margin-top: 29px;
}
.api_controls_cont {
	float: left;
}
.api_controls_cont1 {
	position: absolute;
	top: 40px;
	left: 0px;
}
.api_controls_cont1 .Rulers {
	display: none;
}
.api_controls_cont1:hover .Rulers {
	display: block;
}

.left20 {
	padding-left: 20px;
}
.left {
	float: left;
	/*background-image:url('images/web_icons.png'); your location of the image may differ*/
}

.icon {
	height:29px;
	width:29px;
	background-repeat: no-repeat;
	cursor: pointer;
	/*background-image:url('images/web_icons.png'); your location of the image may differ*/
}

.Plus {
	width:23px;
	height:24px;
	background-image:url('Plus.png');
}
.Plus:hover {
	background-image:url('Plus_active.png');
}
.Minus {
	width:23px;
	height:24px;
	background-image:url('Minus.png');
}
.Minus:hover {
	background-image:url('Minus_active.png');
}
.Rulers {
	height:78px;
	background-image:url('Rulers.png');
}

.Pen {
	background-image:url('Pen.png');
	/*background-position:0px 0px;*/
}
.Pen:hover {
	background-image:url('Pen_active.png');
}
.Button_below {
	background-image:url('Button_below.png');
}
.Button_below:hover {
	background-image:url('Button_active_below.png');
}

.Button {
	background-image:url('Button.png');
}
.Button:hover {
	background-image:url('Button_active.png');
}
.ruler_below {
    position: absolute;
    margin-top: 30px;
	background-image:url('ruler_below.png');
}
.ruler_below:hover {
	background-image:url('ruler_active_below.png');
}

.shiftTop {
    position: absolute;
    margin-top: 30px;
}
.shiftTop2 {
    position: absolute;
    margin-top: 60px;
}

.api_controls_cont2 {
	float: left;
}
/*
.api_controls_cont2:hover .ruler_below {
	display: block;
}
.api_controls_cont2 .ruler_below {
	display: none;
}
*/

.Allocate_below {
	background-image:url('Allocate_below.png');
}
.Allocate_below:hover {
	background-image:url('Allocate_active_below.png');
}
.Allocate {
	background-image:url('Allocate.png');
}
.Allocate:hover {
	background-image:url('Allocate_active.png');
}
.Line_below {
	background-image:url('Line_below.png');
}
.Line_below:hover {
	background-image:url('Line_active_below.png');
}
.Line {
	background-image:url('Line.png');
}
.Line:hover {
	background-image:url('Line_active.png');
}
.Link {
	background-image:url('Link.png');
}
.Link:hover {
	background-image:url('Link_active.png');
}

.Print {
	background-image:url('Print.png');
}
.Print:hover {
	background-image:url('Print_active.png');
}
.Rules {
	background-image:url('Rules.png');
}
.Rules:hover {
	background-image:url('Rules_active.png');
}
.turn {
	background-image:url('turn.png');
}
.turn:hover {
	background-image:url('turn_active.png');
}
.search {
	background-image:url('search.png');
}
.search:hover {
	background-image:url('search_active.png');
}
/* ---------------------------------
17.07.2013  12:49               974 Arrow.png

17.07.2013  12:49             1я009 ruler.png
17.07.2013  12:49               968 Rulers.png
17.07.2013  12:49             1я009 ruler_active.png
17.0
17.07.2013  12:49             1я057 the-selection-line.png
17.07.2013  1


.cart {background-position:-136px -68px;}
.section-header {
  border-bottom: 1px solid #333;
  text-shadow: 1px 1px #111;
  color: #555;
}
    Page layout
a { color: #0094D7; }
a:hover { color: #2372B9; }

#leftCollapser, #rightCollapser {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#leftCollapser:hover, #rightCollapser:hover { background-color: #EFEFEF; }

.collapser-arrow-left { background-image: url('../img/collapse-arrow-left.gif'); }
.collapser-arrow-right { background-image: url('../img/collapse-arrow-right.gif'); }

